{% extends '::layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block corps %}

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" style=" margin-top: 10px;">
				<div id="content" style="margin-top: 10px;">
					<center><h3> Transformer en admin  <h3></center>

					{{ form(form) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}